<!doctype html>
<html lang="en">

<head>
{% include head.html %}

<script src="https://cdn.counter.dev/script.js" data-id="4c8f7caa-2b55-46cd-a995-2c4633303773" data-utcoffset="8"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T5N5JY1E21"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-T5N5JY1E21');
</script>
</head>

<body class="fixed-top-nav">

  <header>
    {% include navigation.html %}
  </header>

  <div class="container mt-5">
    {{ content }}
  </div>

  <footer class="fixed-bottom">
    {% include footer.html %}
  </footer>

  {% include scripts.html %}

</body>
</html>
