---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.subtitle %}<p class="desc">{{ page.subtitle }}</p>{% endif %}
    {% if page.date %}
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      {%- if page.modified %} &middot; updated {{ page.modified | date: "%B %-d, %Y" }}{% endif -%}
    </p>
    {% endif %}
    {% if page.tags %}
    <p class="post-tags">{% for tag in page.tags %}{{ tag }}{% unless forloop.last %} &middot; {% endunless %}{% endfor %}</p>
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
